<?xml version="1.0"?>
<robot name="space_station">
  <link name="Root">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 3.14"/> 
      <geometry>
       <mesh filename="meshes/SD_SpaceStation_Ver05.dae" scale="100 100 100"/>

      </geometry>
    </visual>
    <collision>
      <geometry>
       <mesh filename="meshes/SD_SpaceStation_Ver05.dae" scale="100 100 100"/>

      </geometry>
    </collision>
    <inertial>
      <mass value="1.0"/>
      <origin xyz="0 0 0"/>
      <inertia ixx="1.0" iyy="1.0" izz="1.0" ixy="0.0" ixz="0.0" iyz="0.0"/>
    </inertial>
  </link>
</robot>
